@model SearchModel

@{
    var viewData = ViewData["PagerQuery"] as PagerQuery ?? new PagerQuery { Area = "Admin", Controller = "Posts", Action = "Index" };
}

<div class="mb-4">
    <form method="get"
          class="row gy-2 gx-3 align-items-center"
          asp-area="@viewData.Area"
          asp-controller="@viewData.Controller"
          asp-action="@viewData.Action">
        <div class="col-auto">
            <label class="visually-hidden" asp-for="Keyword"></label>
            <input type="text" class="form-control" placeholder="Nhập từ khóa ..." asp-for="Keyword">
        </div>
        @RenderBody()
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Tìm lọc</button>
            <a class="btn btn-success"
               asp-area="@viewData.Area"
               asp-controller="@viewData.Controller"
               asp-action="Edit">
                Thêm mới
            </a>
            <a class="btn btn-warning"
               asp-area="@viewData.Area"
               asp-controller="@viewData.Controller"
               asp-action="Index">
                Bỏ lọc
            </a>
        </div>
    </form>
</div>