@model Post

@{
    var imageUrl = string.IsNullOrWhiteSpace(Model.ImageUrl) ? "/images/loc.jpg" : $"/{Model.ImageUrl}";
    var pagerQuery = (ViewData["PagerQuery"] as PagerQuery) ?? new PagerQuery();
}

<article class="blog-entry mb-4">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@imageUrl" alt="@Model.Title" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a title="@Model.Title"
                           style="text-decoration: none;"
                           asp-controller="@pagerQuery.Controller"
                           asp-action="Post"
                           asp-route-year="@Model.PostedDate.Year"
                           asp-route-month="@Model.PostedDate.Month"
                           asp-route-day="@Model.PostedDate.Day"
                           asp-route-slug="@Model.UrlSlug">
                            @Model.Title
                        </a>
                    </h5>
                    <p class="card-text">
                        <small class="text-muted">
                            Tác giả:
                        </small>
                        <span class="text-primary">
                            <a title="@Model.Author.FullName"
                               style="text-decoration: none;"
                               asp-controller="@pagerQuery.Controller"
                               asp-action="Author"
                               asp-route-slug="@Model.Author.UrlSlug">
                                @Model.Author.FullName
                            </a>
                        </span>
                        <small class="text-muted">
                            Chủ đề:
                        </small>
                        <span class="text-primary">
                            <a title="@Model.Category.Name"
                               style="text-decoration: none;"
                               asp-controller="@pagerQuery.Controller"
                               asp-action="Category"
                               asp-route-slug="@Model.Category.UrlSlug">
                                @Model.Category.Name
                            </a>
                        </span>
                    </p>
                    <p class="card-text">
                        @Html.Raw(Model.ShortDescription)
                    </p>
                    <div class="tag-list">
                        <partial name="_TagList" model="@Model.Tags" />
                    </div>
                    <div class="text-end">
                        <a class="btn btn-primary"
                           title="@Model.Title"
                           asp-controller="@pagerQuery.Controller"
                           asp-action="Post"
                           asp-route-year="@Model.PostedDate.Year"
                           asp-route-month="@Model.PostedDate.Month"
                           asp-route-day="@Model.PostedDate.Day"
                           asp-route-slug="@Model.UrlSlug">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>